<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/skeleton/css/normalize.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="/skeleton/css/skeleton.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="/styles/main.css" media="screen" title="no title" charset="utf-8">
  <title>Anything But...</title>
</head>
<body>
  <div class="row header"> ----HeaderBar---- </div>

  <div class="row top">
    <div class="one-half column">
      <button type="button" name="button">Sign Up</button>
    </div>

    <div class="one-half column">
      <button type="button" name="button">Login</button>
    </div>
  </div>

  <div class="row logo-bar">
    <img src={{logoImg}} alt="Logo bar" />
  </div>

<div class="business">

  <div class="row description-bar">
    <p>{{des1}}</p>

    <p>{{des2}}</p>

  </div>

  <div class="row categories">
    <div class="one-third column">Blurbs</div>
    <div class="one-third column">Images</div>
    <div class="one-third column">Likes</div>
  </div>

  <div class="row tweet">
    Ze Meaty
    <div class="row action-buttons">
      Action
    </div>
  </div>
</div>

</body>
</html>
